header {
    padding: 10px;
}

.conteudo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.img {
    max-width: 150px;
}

.links {
    display: flex;
    gap: 10px;
}

a {
    color: black;
    text-decoration: none;
}
a:hover {
    font-weight: bold;
}

@media screen and (max-width:550px) {
    .conteudo {
        flex-direction: column;
        gap: 10px;
    }

    .linha{
        width: 95%;
        height: 1px;
        background-color: gray;
    }
}